.loginDocente {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: solid;
    text-align: center;
    font-family: inherit;
    color: #ffff;
/*     background-color: #001b43ed; */
    padding: 20rem
}